<div class="row  animated fadeIn" ng-show="haberler">
	<div class="col-lg-12">
		<div class="page-header text-center">
			<h1 id="type"><strong>{{haberler[0].Category}}</strong> haberleri</h1>
		</div>
	</div>

	<div class="col-lg-12 haber text-center"  ng-repeat="haber in haberler">
		<noscript><img class="haber_resim" src='{{haber.ImageURL || "http://placehold.it/350x150" }}'  /></noscript>
		<a href="#/haber/{{haber.ID}}" title="Haberi oku">
			<center>
				<img class="haber_resim img-responsive" src='{{haber.ImageURL || "http://placehold.it/350x150" }}'  />

			</center>
		</a>
		<div class="haber_baslik source">
			<a href="#/haber/{{haber.ID}}" title="Haberi oku"><h2>{{haber.Title}}</h2></a>
			<p>{{haber.Spot || haber.Title + " haberini görüntülemek resmine tıklayın"}}</p>
		</div>
	</div>

</div>

<div class="row" ng-show="error">
	<div class="col-lg-12">
	<div class="alert alert-dismissable alert-warning" style="margin-top:100px">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<h4>Emin misiniz ?</h4>
			<p>Verdiğiniz url geçersiz gözüküyor, internet bağlantınızı ve url'i kontrol edin lütfen </br> <a href="#/" class="alert-link">Anasayfaya dönüp tekrar denemek ister misiniz ?</a></p>
		</div>
	</div>
</div>
